body {
    font-family: "Cabin";
    text-align: center;
    background-image: url("gary.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 40em;
    display: block;
    background-color: 		#bcf8d9;
}

button {
    font-family : inherit;
    font-size: 2em;
    width: 60px;
    border: 3px solid #0a1612;
    background-color: #c6efdd;
    cursor: pointer;
    box-shadow: 0 4px #999;
}


#numbut {
    margin: 2px;
    border-radius: 8px;
}

.wrapper {
    position: relative;
    top: 280px;
    right: 100px;
}

#bubble {
    position: fixed;
    right: 260px;
    bottom: 220px;
}

.case {
    position: fixed;
    right: 240px;
    bottom: 360px;
    width: 350px;
}
