body {
    font-family: "Cabin";
    text-align: center;
    background-image: url("gary.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 40em;
}

button {
    font-family : inherit;
    font-size: 2em;
    width: 60px;
    border: 3px solid #0a1612;
    background-color: #c6efdd;
    cursor: pointer;
    box-shadow: 0 4px #999;
}

.numbut, .delete, .result {
    margin: 2px;
    border-radius: 8px;
    position: relative;
}

.numbut:active, .delete:active, .result:active {
    top: 2px;
    box-shadow: 0 2px #666;
}

@media screen and (min-device-width: 1680px) {
    .wrapper {
        position: fixed;
        top: 30%;
        right: 48%;
    }

    #bubble {
        position: fixed;
        right: 15%;
        bottom: 25%;
    }

    .case {
        position: fixed;
        width: 19em; 
        right: 15%;
        bottom: 41%;
    }
}

@media screen and (max-device-width: 1400px) {
    .wrapper {
        position: fixed;
        top: 23%;
        right: 48%;
    }

    #bubble {
        position: fixed;
        right:  5%;
        bottom: 15%;
    }

    .case {
        position: fixed;
        width: 19em; 
        height:2rem;
        right: 6%;
        bottom: 37%;
    }
}